resources/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0"
            xmlns="http://eaSTars.com/SoCoAn/config"
            targetNamespace="http://eaSTars.com/SoCoAn/config">
	<xsd:complexType name="SoCoAnConfigType">
		<xsd:sequence>
			<xsd:element name="ProjectPath" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SoCoAnConfig" type="SoCoAnConfigType"/>
</xsd:schema>
